# Ignore contents of data/model/plugins folders, but keep the folders tracked
#models/*
data/*
plugins/*
results/*

# Keep the folders themselves in the repository
!models/.gitkeep
!data/.gitkeep
!plugins/.gitkeep